{# @block content The action buttons or controls for the item #}
<div
    data-slot="item-actions"
    class="{{ ('flex items-center gap-2 ' ~ attributes.render('class'))|tailwind_merge }}"
    {{ attributes }}
>
    {%- block content %}{% endblock -%}
</div>
