{# @prop open boolean Whether the dialog is open on initial render. Defaults to `false` #}
{# @prop id string Unique identifier used to generate internal Dialog IDs #}
{# @block content The dialog structure, typically includes `Dialog:Trigger` and `Dialog:Content` #}
{%- props open = false, id -%}

{%- set _dialog_id = 'dialog-' ~ id -%}
{%- set _dialog_title_id = _dialog_id ~ '-title' -%}
{%- set _dialog_description_id = _dialog_id ~ '-description' -%}
<div {{ attributes.defaults({
    'data-controller': 'dialog',
    'aria-labelledby': _dialog_title_id,
    'aria-describedby': _dialog_description_id,
}) }}>
    {% block content %}{% endblock %}
</div>
