<span
    class="{{ ('[&>svg]:w-3.5 [&>svg]:h-3.5 ' ~ attributes.render('class'))|tailwind_merge }}"
    {{ attributes }}
    role="presentation"
    aria-hidden="true"
>
    <twig:ux:icon name="lucide:ellipsis" />
</span>
