{# @block content The breadcrumb item content, typically a `Breadcrumb:Link` or `Breadcrumb:Page` #}
<li
    class="{{ ('inline-flex items-center gap-1.5 ' ~ attributes.render('class'))|tailwind_merge }}"
    {{ attributes }}
>
    {%- block content %}{% endblock -%}
</li>
