{# @block content The current page text (non-clickable) #}
<span
    class="{{ ('font-normal text-foreground ' ~ attributes.render('class'))|tailwind_merge }}"
    {{ attributes }}
    role="link"
    aria-disabled="true"
    aria-current="page"
>
    {%- block content %}{% endblock -%}
</span>
