{# @block content The default block #}
<a
    class="{{ (attributes.render('class') ~ ' text-zinc-950 underline decoration-zinc-950/50 data-hover:decoration-zinc-950 dark:text-white dark:decoration-white/50 dark:data-hover:decoration-white')|trim }}"
    {{ attributes }}
>
    {%- block content %}{% endblock -%}
</a>{#--#}
