<div class="flex flex-wrap items-center gap-4">
  <twig:Button variant="outline" size="sm" class="pr-2">
    Accept <twig:Kbd>⏎</twig:Kbd>
  </twig:Button>
  <twig:Button variant="outline" size="sm" class="pr-2">
    Cancel <twig:Kbd>Esc</twig:Kbd>
  </twig:Button>
</div>
