<div class="max-w-sm">
    <twig:Item:Header>
        <twig:Item:Title>Recent Files</twig:Item:Title>
        <twig:Item:Description>Your recently accessed files.</twig:Item:Description>
    </twig:Item:Header>
    <twig:Item>
        <twig:Item:Media variant="icon">
            <twig:ux:icon name="lucide:file" class="size-4" />
        </twig:Item:Media>
        <twig:Item:Content>
            <twig:Item:Title>report.pdf</twig:Item:Title>
            <twig:Item:Description>Modified 2 hours ago</twig:Item:Description>
        </twig:Item:Content>
    </twig:Item>
    <twig:Item>
        <twig:Item:Media variant="icon">
            <twig:ux:icon name="lucide:file-image" class="size-4" />
        </twig:Item:Media>
        <twig:Item:Content>
            <twig:Item:Title>screenshot.png</twig:Item:Title>
            <twig:Item:Description>Modified yesterday</twig:Item:Description>
        </twig:Item:Content>
    </twig:Item>
</div>
