{# @block content The table structure, typically includes `Table:Header`, `Table:Body`, and optionally `Table:Footer` #}
<div class="relative w-full overflow-auto" data-slot="table-container">
    <table
        class="{{ ('w-full caption-bottom text-sm ' ~ attributes.render('class'))|tailwind_merge }}"
        {{ attributes }}
    >
        {%- block content %}{% endblock -%}
    </table>
</div>
