<form class="w-full max-w-sm">
    <twig:Fieldset>
        <twig:Fieldset:Legend>Resale and transfers</twig:Fieldset:Legend>
        <twig:Text>Decide if people buy tickets from you or from scalpers.</twig:Text>
        <twig:Radio:Group name="resale">
            <twig:Radio:Field>
                <twig:Radio id="permit" name="resale" value="permit" checked />
                <twig:Fieldset:Label for="permit">Allow tickets to be resold</twig:Fieldset:Label>
                <twig:Fieldset:Description>Customers can resell or transfer their tickets if they can't make it to the event.</twig:Fieldset:Description>
            </twig:Radio:Field>
            <twig:Radio:Field disabled>
                <twig:Radio id="forbid" name="resale" value="forbid" disabled />
                <twig:Fieldset:Label for="forbid">Don't allow tickets to be resold</twig:Fieldset:Label>
                <twig:Fieldset:Description>Tickets cannot be resold or transferred to another person.</twig:Fieldset:Description>
            </twig:Radio:Field>
        </twig:Radio:Group>
    </twig:Fieldset>
</form>
