<form>
    <twig:Radio:Group name="resale" aria-label="Resale and transfers">
        <twig:Radio:Field>
            <twig:Radio color="sky" id="permit" name="resale" value="permit" checked />
            <twig:Fieldset:Label for="permit">Allow tickets to be resold</twig:Fieldset:Label>
        </twig:Radio:Field>
        <twig:Radio:Field>
            <twig:Radio color="sky" id="forbid" name="resale" value="forbid" />
            <twig:Fieldset:Label for="forbid">Don't allow tickets to be resold</twig:Fieldset:Label>
        </twig:Radio:Field>
    </twig:Radio:Group>
</form>
