{# @prop size 'default'|'sm'|'lg' The avatar size. Defaults to `default` #}
{# @block content The avatar content, typically an image or `Avatar:Fallback` #}
{%- props size = 'default' -%}

<span
    data-slot="avatar"
    data-size="{{ size }}"
    class="{{ ('group/avatar relative flex size-8 shrink-0 overflow-hidden rounded-full select-none data-[size=lg]:size-10 data-[size=sm]:size-6 ' ~ attributes.render('class'))|tailwind_merge }}"
    data-controller="avatar"
    {{ attributes }}
>
    {%- block content %}{% endblock -%}
</span>
