{# @block content The default block #}
<span
    aria-hidden="true"
    class="{{ (attributes.render('class') ~ ' w-9 select-none text-center text-sm/6 font-semibold text-zinc-950 dark:text-white')|trim }}"
    {{ attributes }}
>
    {%- block content %}&hellip;{% endblock -%}
</span>
