<div class="-my-6 w-full">
    <twig:DescriptionList>
        <twig:DescriptionList:Term>Customer</twig:DescriptionList:Term>
        <twig:DescriptionList:Details>Leslie Alexander</twig:DescriptionList:Details>

        <twig:DescriptionList:Term>Email</twig:DescriptionList:Term>
        <twig:DescriptionList:Details>leslie.alexander@example.com</twig:DescriptionList:Details>

        <twig:DescriptionList:Term>Access</twig:DescriptionList:Term>
        <twig:DescriptionList:Details>Admin</twig:DescriptionList:Details>
    </twig:DescriptionList>
</div>
