<div class="-my-6 w-full">
    <twig:DescriptionList>
        <twig:DescriptionList:Term>Customer</twig:DescriptionList:Term>
        <twig:DescriptionList:Details>Michael Foster</twig:DescriptionList:Details>

        <twig:DescriptionList:Term>Event</twig:DescriptionList:Term>
        <twig:DescriptionList:Details>Bear Hug: Live in Concert</twig:DescriptionList:Details>

        <twig:DescriptionList:Term>Amount</twig:DescriptionList:Term>
        <twig:DescriptionList:Details>$150.00 USD</twig:DescriptionList:Details>

        <twig:DescriptionList:Term>Amount after exchange rate</twig:DescriptionList:Term>
        <twig:DescriptionList:Details>US$150.00 &rarr; CA$199.79</twig:DescriptionList:Details>

        <twig:DescriptionList:Term>Fee</twig:DescriptionList:Term>
        <twig:DescriptionList:Details>$4.79 USD</twig:DescriptionList:Details>

        <twig:DescriptionList:Term>Net</twig:DescriptionList:Term>
        <twig:DescriptionList:Details>$1,955.00</twig:DescriptionList:Details>
    </twig:DescriptionList>
</div>
