<div class="grid w-full max-w-sm gap-6" xmlns:twig="http://www.w3.org/1999/html">

    <twig:ButtonGroup>
        <twig:ButtonGroup:Text>
            <Label for="url">https://</Label>
        </twig:ButtonGroup:Text>
        <twig:InputGroup>
            <twig:InputGroup:Input id="url" placeholder="example.com" />
            <twig:InputGroup:Addon align="inline-end">
                <twig:ux:icon name="lucide:link-2" />
            </twig:InputGroup:Addon>
        </twig:InputGroup>
        <twig:ButtonGroup:Text>
            .com
        </twig:ButtonGroup:Text>
    </twig:ButtonGroup>

</div>
