{# @prop id string Unique identifier used to generate internal AlertDialog IDs #}
{# @block content The dialog structure, typically includes `AlertDialog:Trigger` and `AlertDialog:Content` #}
{%- props id -%}

{%- set _alert_dialog_id = 'alert-dialog-' ~ id -%}
{%- set _alert_dialog_title_id = _alert_dialog_id ~ '-title' -%}
{%- set _alert_dialog_description_id = _alert_dialog_id ~ '-description' -%}
<div {{ attributes.defaults({
    'data-controller': 'alert-dialog',
    'aria-labelledby': _alert_dialog_title_id,
    'aria-describedby': _alert_dialog_description_id,
}) }}>
    {% block content %}{% endblock %}
</div>
