<div class="w-full max-w-md">
    <twig:Text>
        This feature is only available to users on the <twig:Text:Strong>Business Plan</twig:Text:Strong>. To upgrade, visit your <twig:Text:TextLink href="#">billing settings</twig:Text:TextLink>.
    </twig:Text>
</div>
