<div class="w-full max-w-md">
    <twig:Text>
        Deleting your account is permanent, and your data will not be able to be recovered. If you still want to use this account in the future, learn about <twig:Text:TextLink href="#">pausing your subscription</twig:Text:TextLink> instead.
    </twig:Text>
</div>
