<div class="w-full max-w-md">
    <twig:Text>
        Your new API token is <twig:Text:Code>BaVrRKpRMS_ndKU</twig:Text:Code>. Store this token somewhere safe as it will only be displayed once.
    </twig:Text>
</div>
