{%- set users = [
    {name: 'Leslie Alexander', email: 'leslie.alexander@example.com', access: 'Admin'},
    {name: 'Michael Foster', email: 'michael.foster@example.com', access: 'Owner'},
    {name: 'Dries Vincent', email: 'dries.vincent@example.com', access: 'Member'},
    {name: 'Lindsay Walton', email: 'lindsay.walton@example.com', access: 'Member'},
    {name: 'Courtney Henry', email: 'courtney.henry@example.com', access: 'Admin'},
] -%}
<div class="-mt-4 w-full">
    <div class="[--gutter:--spacing(6)] sm:[--gutter:--spacing(8)]">
        <twig:Table bleed>
            <twig:Table:Head>
                <twig:Table:Row>
                    <twig:Table:Header>Name</twig:Table:Header>
                    <twig:Table:Header>Email</twig:Table:Header>
                    <twig:Table:Header>Access</twig:Table:Header>
                </twig:Table:Row>
            </twig:Table:Head>
            <twig:Table:Body>
                {%- for user in users -%}
                    <twig:Table:Row>
                        <twig:Table:Cell class="font-medium">{{ user.name }}</twig:Table:Cell>
                        <twig:Table:Cell>{{ user.email }}</twig:Table:Cell>
                        <twig:Table:Cell class="text-zinc-500">{{ user.access }}</twig:Table:Cell>
                    </twig:Table:Row>
                {%- endfor -%}
            </twig:Table:Body>
        </twig:Table>
    </div>
</div>
