<div class="flex w-full max-w-sm justify-center">
    <twig:Fieldset:Field>
        <twig:Fieldset:Label>CVC</twig:Fieldset:Label>
        <twig:Input class="max-w-24" name="cvc" pattern="[0-9]*" />
    </twig:Fieldset:Field>
</div>
