<div class="w-full max-w-sm">
    <twig:Fieldset:Field>
        <twig:Fieldset:Label>Full name</twig:Fieldset:Label>
        <twig:Input name="full_name" invalid />
        <twig:Fieldset:ErrorMessage>This field is required.</twig:Fieldset:ErrorMessage>
    </twig:Fieldset:Field>
</div>
