<div class="w-full max-w-sm">
    <twig:Input:Group>
        <twig:ux:icon name="heroicons:magnifying-glass-16-solid" />
        <twig:Input name="search" placeholder="Search…" aria-label="Search" />
    </twig:Input:Group>
</div>
