<div class="w-full max-w-sm">
    <twig:Fieldset:Field>
        <twig:Fieldset:Label>Product name</twig:Fieldset:Label>
        <twig:Fieldset:Description>Use the name you'd like people to see in their cart.</twig:Fieldset:Description>
        <twig:Input name="product_name" />
    </twig:Fieldset:Field>
</div>
