<div class="flex flex-wrap gap-2">
    <twig:Button disabled>
        <twig:Spinner data-icon="inline-start" />
        Processing
    </twig:Button>
    <twig:Button variant="outline" disabled>
        <twig:Spinner data-icon="inline-start" />
        Please wait
    </twig:Button>
    <twig:Button variant="secondary" disabled>
        Saving
        <twig:Spinner data-icon="inline-end" />
    </twig:Button>
</div>
