<form class="w-full max-w-sm">
    <twig:Checkbox:Group>
        <twig:Checkbox:Field>
            <twig:Checkbox id="show-on-events-page" name="show_on_events_page" checked />
            <twig:Fieldset:Label for="show-on-events-page">Show on events page</twig:Fieldset:Label>
            <twig:Fieldset:Description>Make this event visible on your profile.</twig:Fieldset:Description>
        </twig:Checkbox:Field>
        <twig:Checkbox:Field>
            <twig:Checkbox id="allow-embedding" name="allow_embedding" />
            <twig:Fieldset:Label for="allow-embedding">Allow embedding</twig:Fieldset:Label>
            <twig:Fieldset:Description>Allow others to embed your event details on their own site.</twig:Fieldset:Description>
        </twig:Checkbox:Field>
    </twig:Checkbox:Group>
</form>
