<form>
    <twig:Checkbox:Field>
        <twig:Checkbox id="allow-embedding" name="allow_embedding" />
        <twig:Fieldset:Label for="allow-embedding">Allow embedding</twig:Fieldset:Label>
    </twig:Checkbox:Field>
</form>
