<span
    aria-hidden="true"
    class="{{ ('flex size-9 items-center justify-center ' ~ attributes.render('class'))|tailwind_merge }}"
    {{ attributes }}
>
    <twig:ux:icon name="lucide:more-horizontal" class="size-4" />
    <span class="sr-only">More pages</span>
</span>
