<twig:Pagination:Link
    aria-label="Go to next page"
    size="default"
    class="{{ ('gap-1 pr-2.5 ' ~ attributes.render('class'))|tailwind_merge }}"
    {{ ...attributes }}
>
    <span>Next</span>
    <twig:ux:icon name="lucide:chevron-right" class="size-4" />
</twig:Pagination:Link>
