<twig:Pagination:Link
    aria-label="Go to previous page"
    size="default"
    class="{{ ('gap-1 px-2.5 sm:pl-2.5 ' ~ attributes.render('class'))|tailwind_merge }}"
    {{ ...attributes }}
>
    <twig:ux:icon name="lucide:chevron-left" class="size-4" />
    <span class="hidden sm:block">Previous</span>
</twig:Pagination:Link>
