<div class="flex flex-wrap gap-4">
    <twig:Select class="max-w-xs">
        <option value="">Select a fruit</option>
        <option value="apple">Apple</option>
        <option value="banana">Banana</option>
        <option value="blueberry">Blueberry</option>
        <option value="grapes">Grapes</option>
        <option value="pineapple">Pineapple</option>
    </twig:Select>

    <twig:Select class="max-w-xs">
        <option value="apple">Apple</option>
        <option value="banana" selected>Banana</option>
        <option value="blueberry">Blueberry</option>
        <option value="grapes">Grapes</option>
        <option value="pineapple">Pineapple</option>
    </twig:Select>
</div>
