<twig:Field data-invalid>
    <twig:Field:Label for="fruit">Fruit</twig:Field:Label>
    <twig:Select id="fruit" class="max-w-xs" aria-invalid="true" data-invalid>
        <option value="">Select a fruit</option>
        <option value="apple">Apple</option>
        <option value="banana">Banana</option>
        <option value="blueberry">Blueberry</option>
    </twig:Select>
    <twig:Field:Error>Please select a fruit.</twig:Field:Error>
</twig:Field>
