<div>
    <div class="space-y-1">
        <h4 class="text-sm font-medium leading-none">Symfony UX</h4>
        <p class="text-sm text-muted-foreground">
            Seamlessly integrate JavaScript tools into your application.
        </p>
    </div>
    <twig:Separator class="my-4" />
    <div class="flex h-5 items-center space-x-4 text-sm">
        <a href="https://ux.symfony.com/" target="_blank">Website</a>
        <twig:Separator orientation="vertical" />
        <a href="https://ux.symfony.com/documentation" target="_blank">Documentation</a>
        <twig:Separator orientation="vertical" />
        <a href="https://github.com/symfony/ux" target="_blank">Source</a>
    </div>
</div>
