<div class="flex flex-wrap items-center gap-2 md:flex-row">
    <twig:Button variant="outline">Button</twig:Button>
    <twig:Button variant="outline" size="icon" aria-label="Submit">
        <twig:ux:icon name="lucide:arrow-up" />
    </twig:Button>
</div>
