<div class="flex flex-col items-start gap-8 sm:flex-row">
    <div class="flex items-center gap-2">
        <twig:Button size="sm" variant="outline">Small</twig:Button>
        <twig:Button size="icon-sm" variant="outline" aria-label="Submit">
            <twig:ux:icon name="lucide:arrow-up-right" class="size-4" />
        </twig:Button>
    </div>
    <div class="flex items-center gap-2">
        <twig:Button variant="outline">Default</twig:Button>
        <twig:Button variant="outline" aria-label="Submit">
            <twig:ux:icon name="lucide:arrow-up-right" class="size-4" />
        </twig:Button>
    </div>
    <div class="flex items-center gap-2">
        <twig:Button size="lg" variant="outline">Large</twig:Button>
        <twig:Button size="icon-lg" variant="outline" aria-label="Submit">
            <twig:ux:icon name="lucide:arrow-up-right" class="size-4" />
        </twig:Button>
    </div>
</div>
