<div class="flex gap-2">
    <twig:Button variant="outline" disabled>
        <twig:Spinner data-icon="inline-start" />
        Generating
    </twig:Button>
    <twig:Button variant="secondary" disabled>
        Downloading
        <twig:Spinner data-icon="inline-start" />
    </twig:Button>
</div>
