{# @block content The fallback content displayed when no image is available, typically initials #}
<span
    data-slot="avatar-fallback"
    data-avatar-target="fallback"
    hidden
    class="{{ ('bg-muted text-muted-foreground flex size-full items-center justify-center rounded-full text-sm group-data-[size=sm]/avatar:text-xs ' ~ attributes.render('class'))|tailwind_merge }}"
    {{ attributes }}
>
    {%- block content %}{% endblock -%}
</span>
