<twig:Field class="w-full max-w-sm">
    <twig:Field:Label for="progress-upload">
        <span>Upload progress</span>
        <span class="ml-auto">66%</span>
    </twig:Field:Label>
    <twig:Progress value="66" id="progress-upload" />
</twig:Field>
