{# @block content The header area, typically contains `Empty:Title` and `Empty:Description` #}
<div
    data-slot="empty-header"
    class="{{ ('flex max-w-sm flex-col items-center gap-2 text-center ' ~ attributes.render('class'))|tailwind_merge }}"
    {{ attributes }}
>
    {%- block content %}{% endblock -%}
</div>
