<div class="w-full max-w-sm space-y-4">
    <div class="space-y-2">
        <twig:Skeleton class="h-4 w-[80px]" />
        <twig:Skeleton class="h-10 w-full" />
    </div>
    <div class="space-y-2">
        <twig:Skeleton class="h-4 w-[100px]" />
        <twig:Skeleton class="h-10 w-full" />
    </div>
    <div class="space-y-2">
        <twig:Skeleton class="h-4 w-[120px]" />
        <twig:Skeleton class="h-24 w-full" />
    </div>
    <twig:Skeleton class="h-10 w-[120px]" />
</div>
