<div class="grid w-full max-w-sm gap-4">
    <twig:ButtonGroup>
        <twig:ButtonGroup:Text>https://</twig:ButtonGroup:Text>
        <twig:Input placeholder="example.com" />
    </twig:ButtonGroup>
    <twig:ButtonGroup>
        <twig:Input type="email" placeholder="m@example.com" />
        <twig:Button type="submit">Subscribe</twig:Button>
    </twig:ButtonGroup>
</div>
