<div class="w-full max-w-sm">
    <twig:Field:Group>
        <twig:Field>
            <twig:Field:Label for="first-name">First name</twig:Field:Label>
            <twig:Input id="first-name" type="text" placeholder="John" />
        </twig:Field>
        <twig:Field>
            <twig:Field:Label for="last-name">Last name</twig:Field:Label>
            <twig:Input id="last-name" type="text" placeholder="Doe" />
        </twig:Field>
        <twig:Field>
            <twig:Field:Label for="email-group">Email</twig:Field:Label>
            <twig:Input id="email-group" type="email" placeholder="m@example.com" />
        </twig:Field>
    </twig:Field:Group>
</div>
