<div class="w-full max-w-sm">
    <twig:Field>
        <twig:Field:Label for="email">Email</twig:Field:Label>
        <twig:Input id="email" type="email" placeholder="m@example.com" />
        <twig:Field:Description>
            Enter your email address.
        </twig:Field:Description>
    </twig:Field>
</div>
