<div class="grid w-full max-w-lg grid-cols-2 gap-4">
    <twig:Field>
        <twig:Field:Label for="grid-first-name">First name</twig:Field:Label>
        <twig:Input id="grid-first-name" type="text" placeholder="John" />
    </twig:Field>
    <twig:Field>
        <twig:Field:Label for="grid-last-name">Last name</twig:Field:Label>
        <twig:Input id="grid-last-name" type="text" placeholder="Doe" />
    </twig:Field>
    <twig:Field class="col-span-2">
        <twig:Field:Label for="grid-email">Email</twig:Field:Label>
        <twig:Input id="grid-email" type="email" placeholder="m@example.com" />
    </twig:Field>
</div>
