<div class="grid w-full max-w-sm gap-4">
    <twig:InputGroup>
        <twig:InputGroup:Addon>
            <twig:ux:icon name="lucide:search" />
        </twig:InputGroup:Addon>
        <twig:InputGroup:Input placeholder="Search..." />
    </twig:InputGroup>
    <twig:InputGroup>
        <twig:InputGroup:Input placeholder="m@example.com" />
        <twig:InputGroup:Addon align="inline-end">
            <twig:ux:icon name="lucide:mail" />
        </twig:InputGroup:Addon>
    </twig:InputGroup>
</div>
