<twig:Field>
    <twig:Field:Label for="input-required">
        Required Field <span class="text-destructive">*</span>
    </twig:Field:Label>
    <twig:Input
        id="input-required"
        placeholder="This field is required"
        required
    />
    <twig:Field:Description>This field must be filled out.</twig:Field:Description>
</twig:Field>
