<twig:Dropdown>
    <twig:Dropdown:Button outline>
        Options
        <twig:ux:icon name="heroicons:chevron-down-16-solid" data-slot="icon" />
    </twig:Dropdown:Button>
    <twig:Dropdown:Menu>
        <twig:Dropdown:Header>
            <div class="pr-6">
                <div class="text-xs text-zinc-500 dark:text-zinc-400">Signed in as Tom Cook</div>
                <div class="text-sm/7 font-semibold text-zinc-800 dark:text-white">tom@example.com</div>
            </div>
        </twig:Dropdown:Header>
        <twig:Dropdown:Divider />
        <twig:Dropdown:Item href="/my-profile">My profile</twig:Dropdown:Item>
        <twig:Dropdown:Item href="/notifications">Notifications</twig:Dropdown:Item>
        <twig:Dropdown:Item href="/security">Security</twig:Dropdown:Item>
        <twig:Dropdown:Item href="/billing">Billing</twig:Dropdown:Item>
        <twig:Dropdown:Item>Sign out</twig:Dropdown:Item>
    </twig:Dropdown:Menu>
</twig:Dropdown>
