{%- set user = {
    avatarUrl: 'https://images.unsplash.com/photo-1472099645785-5658abf4ff4e?ixlib=rb-1.2.1&ixid=eyJhcHBfaWQiOjEyMDd9&auto=format&fit=facearea&facepad=2&w=256&h=256&q=80',
    name: 'Tom Cook',
    role: 'Administrator'
} -%}

<twig:Dropdown>
    <button
        class="flex w-48 items-center gap-3 rounded-xl border border-transparent p-1 data-active:border-zinc-200 data-hover:border-zinc-200 dark:data-active:border-zinc-700 dark:data-hover:border-zinc-700"
        aria-label="Account options"
    >
        <img class="size-10 rounded-lg" src="{{ user.avatarUrl }}" alt="" />
        <span class="block text-left">
            <span class="block text-sm/5 font-medium">{{ user.name }}</span>
            <span class="block text-xs/5 text-zinc-500">{{ user.role }}</span>
        </span>
        <twig:ux:icon name="heroicons:chevron-up-down-16-solid" class="mr-1 ml-auto size-4 shrink-0 text-zinc-400" />
    </button>
    <twig:Dropdown:Menu class="min-w-(--button-width)">
        <twig:Dropdown:Item href="/profile">My profile</twig:Dropdown:Item>
        <twig:Dropdown:Item href="/settings">Settings</twig:Dropdown:Item>
        <twig:Dropdown:Divider />
        <twig:Dropdown:Item>Sign out</twig:Dropdown:Item>
    </twig:Dropdown:Menu>
</twig:Dropdown>
