{% props id, active = false %}
<button{{ attributes.defaults({
    class: 'border-b-[3px] border-transparent -mb-px px-4 text-[.9rem] leading-[2] cursor-pointer transition-[border-color] duration-150 ease-in-out [&.active]:border-muted' ~ (active ? ' active' : ''),
    role: 'tab',
    type: 'button',
    'data-action': 'tabs#show',
    'data-tabs-target': 'control',
    'data-tabs-tab-param': id,
    'aria-selected': active ? 'true' : 'false',
}) }}>
    {%- block content %}{% endblock -%}
</button>
