{% props active %}
<div{{ attributes.defaults({
    'data-controller': 'tabs',
    'data-tabs-tab-value': active,
    'data-tabs-active-class': 'active',
}) }}>
    <nav class="flex flex-row mb-4 border-b border-border" role="tablist">
        {%- block controls %}{% endblock -%}
    </nav>
    <div>
        {%- block panels %}{% endblock -%}
    </div>
</div>
