<twig:Tooltip id="tooltip-disabled-button">
    <twig:Tooltip:Trigger>
        <twig:Button {{ ...trigger_attrs }} variant="outline" disabled>Disabled</twig:Button>
    </twig:Tooltip:Trigger>
    <twig:Tooltip:Content>
        <p>This feature is currently unavailable</p>
    </twig:Tooltip:Content>
</twig:Tooltip>
