{# @prop orientation 'horizontal'|'vertical' The separator orientation. Defaults to `horizontal` #}
{# @prop decorative boolean Whether the separator is purely decorative (not semantic). Defaults to `true` #}
{%- props orientation = 'horizontal', decorative = true -%}
<div
    data-slot="separator"
    class="{{ ('bg-border shrink-0 data-horizontal:h-px data-horizontal:w-full data-vertical:w-px data-vertical:self-stretch ' ~ attributes.render('class'))|tailwind_merge }}"
    {{ attributes.defaults({
        'data-orientation': orientation,
        role: decorative ? 'none' : 'separator',
        'aria-orientation': (not decorative and orientation == 'vertical') ? 'vertical' : false,
    }) }}
></div>
