.SupportBox_title {
  font-weight: 500;
  font-size: 2rem;
  color: var(--bs-body-color);
  text-decoration: none;
  margin: 0;
}

.SupportBox_link {
  &:after {
    content: '';
    position: absolute;
    inset: 0 0;
    z-index: 40;
  }
}

.SupportBox_description {
  line-height: 1.5;
  margin-bottom: 0;
}
