<div class="body-bg border border-n-700 rounded-md flex flex-col gap-3 p-3 sm:gap-4 sm:p-4 relative place-self-stretch transition-transform duration-700 ease-in-out hover:duration-200 hover:-translate-y-1">
    <div class="size-8 sm:size-12 flex items-center justify-center shrink-0 [&>svg]:w-full [&>svg]:h-auto">
        {% block logo %}{% endblock %}
    </div>
    <div class="flex flex-col flex-1 gap-4">
        <h2 class="font-medium text-2xs m-0">
            {% block title %}{% endblock %}
        </h2>
        <p class="mb-0 leading-6">
            {% block description %}{% endblock %}
        </p>
    </div>
</div>
