<div class="w-full max-w-sm flex items-start *:w-full">
    <twig:Fieldset:Field disabled>
        <twig:Fieldset:Label>Description</twig:Fieldset:Label>
        <twig:Textarea name="description" disabled />
    </twig:Fieldset:Field>
</div>
