<div class="w-full max-w-sm flex items-start *:w-full">
    <twig:Fieldset:Field>
        <twig:Fieldset:Label>Description</twig:Fieldset:Label>
        <twig:Textarea name="description" invalid/>
        <twig:Fieldset:ErrorMessage>This field is required.</twig:Fieldset:ErrorMessage>
    </twig:Fieldset:Field>
</div>
