<div class="flex items-end gap-8">
    <twig:Avatar initials="tw" class="size-6 bg-zinc-900 text-white dark:bg-white dark:text-black" />
    <twig:Avatar initials="tw" class="size-8 bg-zinc-900 text-white dark:bg-white dark:text-black" />
    <twig:Avatar initials="tw" class="size-10 bg-zinc-900 text-white dark:bg-white dark:text-black" />
</div>
