<div class="flex flex-col gap-2">
    <div class="flex gap-2">
        <twig:Field>
            <twig:Field:Content>
                <twig:Checkbox id="checkbox-desc" />
            </twig:Field:Content>
            <twig:Field:Content>
                <twig:Field:Label for="checkbox-desc">Accept terms and conditions</twig:Field:Label>
                <twig:Field:Description>
                    You agree to our <a href="#">Terms of Service</a> and <a href="#">Privacy Policy</a>.
                </twig:Field:Description>
            </twig:Field:Content>
        </twig:Field>
    </div>
</div>
