<div class="flex flex-col gap-3">
    <div class="flex items-center gap-2">
        <twig:Checkbox id="disabled-unchecked" disabled />
        <twig:Label for="disabled-unchecked" class="opacity-50">Disabled unchecked</twig:Label>
    </div>
    <div class="flex items-center gap-2">
        <twig:Checkbox id="disabled-checked" disabled checked />
        <twig:Label for="disabled-checked" class="opacity-50">Disabled checked</twig:Label>
    </div>
</div>
