<div class="w-full max-w-sm">
    <twig:Fieldset:Field>
        <twig:Fieldset:Label>Project status</twig:Fieldset:Label>
        <twig:Fieldset:Description>This will be visible to clients on the project.</twig:Fieldset:Description>
        <twig:Select name="status">
            <option value="active">Active</option>
            <option value="paused">Paused</option>
            <option value="delayed">Delayed</option>
            <option value="canceled">Canceled</option>
        </twig:Select>
    </twig:Fieldset:Field>
</div>
