{# @prop disabled boolean Whether or not to disable the entire field, default to `false` #}
{# @block content The default block #}
{%- props disabled = false -%}
{%- set disabled = disabled or fieldset_context.disabled|default(false) -%}
{%- set radio_field_context = {disabled} -%}
<div
    data-slot="field"
    class="{{ html_classes(
        attributes.render('class')|default(''),
        # Base layout
        'grid grid-cols-[1.125rem_1fr] gap-x-4 gap-y-1 sm:grid-cols-[1rem_1fr]',
        # Control layout
        '*:data-[slot=control]:col-start-1 *:data-[slot=control]:row-start-1 *:data-[slot=control]:mt-0.75 sm:*:data-[slot=control]:mt-1',
        # Label layout
        '*:data-[slot=label]:col-start-2 *:data-[slot=label]:row-start-1',
        # Description layout
        '*:data-[slot=description]:col-start-2 *:data-[slot=description]:row-start-2',
        # With description
        'has-data-[slot=description]:**:data-[slot=label]:font-medium',
    ) }}"
    {{ attributes.defaults({
        'data-disabled': disabled,
        'aria-disabled': disabled,
    }) }}
>
    {%- block content %}{% endblock -%}
</div>
