<div class="DemoContainer py-4 px-6 d-flex align-items-center">
    <img width="30px" src="{{ asset('images/sf-logo.png') }}" alt="Symfony logo">
    <p class="d-inline ms-4 m-0">{% block title %}{% endblock %}</p>
</div>
<div class="DemoContainer-inner p-6">
    {% block content %}{% endblock %}
</div>

{% block content_secondary %}{% endblock %}
