{% extends 'ux_packages/package.html.twig' %}

{% block package_header %}
    {% component PackageHeader with {
        package: 'toggle-password',
        eyebrowText: 'Switch between password & text',
    } %}
        {% block title_header %}
            From password to text <em>&amp; vice versa</em>
        {% endblock %}

        {% block sub_content %}
            Upgrade your password field to toggle between text and password.
        {% endblock %}

        {% block deprecated_content %}
            This component is <strong>deprecated</strong> and will not receive further updates.<br>
            Please follow <a href="https://github.com/symfony/ux/tree/2.x/src/TogglePassword" class="link">the migration steps</a> if you want to keep using TogglePassword in your app.
        {% endblock %}
    {% endcomponent %}
{% endblock %}

{% block code_block_left %}
    <twig:CodeBlock filename="src/Form/TogglePasswordForm.php" />
{% endblock %}

{% block code_block_right %}
    <twig:CodeBlock
            filename="templates/ux_packages/toggle_password.html.twig"
            targetTwigBlock="demo_content"
    />
{% endblock %}

{% block demo_title %}UX Toggle Password{% endblock %}

{% block demo_content %}
    {{ form_start(form) }}
    {{ form_row(form.email) }}
    {{ form_row(form.password) }}
    <button type="submit" class="btn btn-primary">Login</button>
    {{ form_end(form) }}
{% endblock %}
