<div class="flex w-full flex-wrap items-end justify-between gap-4 border-b border-zinc-950/10 pb-6 dark:border-white/10">
    <twig:Heading>Order #1011</twig:Heading>
    <div class="flex gap-4">
        <twig:Button outline>Refund</twig:Button>
        <twig:Button>Resend invoice</twig:Button>
    </div>
</div>
