<div class="flex flex-wrap gap-2">
    <twig:Badge variant="default">
        <twig:ux:icon name="lucide:check" data-icon="inline-start" />
        Verified
    </twig:Badge>
    <twig:Badge variant="secondary">
        <twig:ux:icon name="lucide:bookmark" data-icon="inline-start" />
        Saved
    </twig:Badge>
    <twig:Badge variant="outline">
        <twig:ux:icon name="lucide:star" data-icon="inline-start" />
        Featured
    </twig:Badge>
</div>
