<div class="w-full">
    <twig:Pagination>
        <twig:Pagination:Previous href="?page=1" />
        <twig:Pagination:List>
            <twig:Pagination:Page href="?page=1">1</twig:Pagination:Page>
            <twig:Pagination:Page href="?page=2" current>2</twig:Pagination:Page>
            <twig:Pagination:Page href="?page=3">3</twig:Pagination:Page>
        </twig:Pagination:List>
        <twig:Pagination:Next href="?page=3" />
    </twig:Pagination>
</div>
