<div class="w-full">
    <twig:Pagination>
        <twig:Pagination:Previous />
        <twig:Pagination:List>
            <twig:Pagination:Page href="?page=1" current>1</twig:Pagination:Page>
            <twig:Pagination:Page href="?page=2">2</twig:Pagination:Page>
            <twig:Pagination:Page href="?page=3">3</twig:Pagination:Page>
            <twig:Pagination:Page href="?page=4">4</twig:Pagination:Page>
            <twig:Pagination:Gap />
            <twig:Pagination:Page href="?page=65">65</twig:Pagination:Page>
            <twig:Pagination:Page href="?page=66">66</twig:Pagination:Page>
        </twig:Pagination:List>
        <twig:Pagination:Next href="?page=2" />
    </twig:Pagination>
</div>
