{# @block content The collapsible content of the accordion item #}
<div
    class="grid text-sm overflow-hidden transition-[grid-template-rows] duration-300 ease-out {{ not _accordion_item_is_open ? 'hidden' }}"
    {{ attributes.defaults({
        id: _accordion_item_content_id,
        'data-slot': 'accordion-content',
        'data-accordion-target': 'content',
        role: 'region',
        'aria-labelledby': _accordion_item_trigger_id,
        'aria-hidden': not _accordion_item_is_open ? 'true' : 'false',
        'data-open': _accordion_item_is_open ? 'true' : false,
        'data-closed': not _accordion_item_is_open ? 'true' : false,
        style: _accordion_item_is_open ? 'grid-template-rows: 1fr;' : 'grid-template-rows: 0fr;',
    }).without('class') }}
>
    <div class="min-h-0 min-w-0 overflow-hidden">
        <div class="{{ ('pt-0 pb-2.5 [&_a]:hover:text-foreground [&_a]:underline [&_a]:underline-offset-3 [&_p:not(:last-child)]:mb-4 ' ~ attributes.render('class'))|tailwind_merge }}">
            {%- block content %}{% endblock -%}
        </div>
    </div>
</div>
