{# @prop value string Unique value for this accordion item #}
{# @prop open boolean Whether the item is open by default. Defaults to `false` #}
{# @prop disabled boolean Whether the item is disabled. Defaults to `false` #}
{# @block content The item content, typically an `Accordion:Trigger` and `Accordion:Content` #}
{%- props value, open = false, disabled = false -%}
{%- set _accordion_item_is_open = open or (_accordion_default_value == value or (_accordion_default_value is iterable and value in defaultValue)) -%}
{%- set _accordion_item_id = _accordion_id ~ '-' ~ value -%}
{%- set _accordion_item_content_id = _accordion_item_id ~ '-content' -%}
{%- set _accordion_item_trigger_id = _accordion_item_id ~ '-trigger' -%}
{%- set _accordion_item_disabled = disabled -%}
<div
    class="{{ ('not-last:border-b group ' ~ attributes.render('class'))|tailwind_merge }}"
    {{ attributes.defaults({
        'data-slot': 'accordion-item',
        'data-accordion-target': 'item',
        'data-value': value,
        'data-open': _accordion_item_is_open ? 'true' : false,
        'data-closed': not _accordion_item_is_open ? 'true' : false,
        'aria-disabled': _accordion_item_disabled ? 'true' : false,
    }) }}
>
    {%- block content %}{% endblock -%}
</div>
